@import url('https://fonts.googleapis.com/css?family=Griffy|Roboto');


.container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.header {
    width: 100%;
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}
.links {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1rem;
}
.links a {
    text-decoration: none;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.links span:hover {
    color: #919191;
}
.homemenu {
    color: #616161;
}
.pagetitle {
    text-align: center;
}
.pagetitle img {
    width:220px;
}

.introduction {
    margin-top: 50px;
    margin-bottom: 50px;
}
.message {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Roboto', 'sans-serif';
}

.image {
    text-align: center;
}
.image img {
    width: 100%;
}


.testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
}
.testtitle {
    font-family: 'Griffy', 'cursive';
    font-size: 1.5rem;
}
.name {
    margin-top:20px;
}

.testimonialone {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.testimonialtwo {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.testimonialthree {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.photo {
    text-align: center;
}
.photo img {
    width: 100%;
}

.openinghours {
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.ohtitle {
    font-family: 'Griffy', 'cursive';
    font-size: 1.5rem;
    padding: 10px;
}
.days {
    text-align: center;
}
.hours {
    text-align: center;
}


footer {
    text-align: center;
    background-color: #1f1f1f;
    padding: 20px;
}
.footerlogo img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.contactinfo {
    color: #fff;
    text-align: center;
}



/* sm devices */
@media (min-width: 576px) {
    .logo {
        text-align: center;
    }
    .links {
        text-align: center;
    }
    .pagetitle img {
        width: 350px;
    }
}
/* md devices */
@media (min-width: 768px) {
   .logo {
        text-align: center;
    }
    .pagetitle img {
        width: 500px;
    }
    .message {
        margin: auto;
    }
    .openinghours {
        margin: auto;
    }
}
/* lg */
@media (min-width: 992px) {
    .logo {
        text-align: left;
    }
    .links {
        text-align: right;
    }
}
/* xl */
/*@media (min-width: 1200px) {*/
    
}